apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: node-exporter
  name: node-exporter
  namespace: {{ .Release.Namespace }}
spec:
  clusterIP: None
  ports:
  - name: https
    port: 9101
    targetPort: https
  selector:
    app: node-exporter
